<div class="row">
	<div class="col-xs-9">
		Claim with Lia Ayub
	</div>
	<div class="col-xs-3"></div>
</div>
<div class="row">
	<div class="col-xs-9">
		<div class="row claimBoard">
			<div class="col-xs-12 claimSummary">
				<div class="col-sm-1"></div>
				<div class="col-sm-3 claimTitle">
					Claim Amount
				</div>
				<div class="col-sm-4">
					<span class="badge">$</span>
					<span class="amount"><input size="3" value="0" /></span>
				</div>
				<div class="col-sm-4">
					<button type="button" class="btn btn-secondary claimButton">Set Claim Amount</button>
				</div>	
			</div>

			<div id="claimDetail" class="col-xs-12 collapse">
				<div class="col-sm-2">
					<img class="img-circle" src="http://lorempixel.com/300/300/city/" />
				</div>
				<div class="col-sm-10">
					<h5>The Ritz-Carton New York, Central Park</h5>
					<h6>Friday, July 24 2015, to Saturday, July 25 2015</h6>
					<br/>
					<h5>Description of this Issue</h5>
					<h6>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </h6>
				</div>
			</div>
			<div class="col-xs-12 claimCollapseButton">
				<button type="button" data-toggle="collapse" data-target="#claimDetail"class="btn btn-xs"><span class="glyphicon glyphicon-chevron-down"></span> </button>
			</div>
		</div>
		<div class="row" style="margin-top:50px;">
			<div class="col-sm-1 xs-hidden"></div>
			<div class="col-sm-2  col-xs-3">
				<img class="img-circle" src="http://lorempixel.com/500/500/people/" title="Lia Ayub"/>
				<p class="hidden-xs">Lia Ayub</p>
			</div>
			<div class="col-sm-9 col-xs-9" >
				<p class="visible-xs hidden-sm">Lia Ayub</p>
				<p>MESSAGES 11111 Lorem ipsum Lorem ipsum 11111 Lorem ipsum Lorem ipsum11111 Lorem ipsum Lorem ipsum11111 Lorem ipsum Lorem ipsum11111 Lorem ipsum Lorem ipsum11111 Lorem ipsum Lorem ipsum11111 Lorem ipsum Lorem ipsum11111 Lorem ipsum Lorem ipsum11111 Lorem ipsum Lorem ipsum11111 Lorem ipsum Lorem ipsum11111 Lorem ipsum Lorem ipsum</p>
				<p>
					<span class="muted">17 May 2015</span>
				</p>
			</div>
		</div>

		<div class="row">
			<textarea class="col-xs-12"></textarea>
			<p><button class="next btn btn-primary pull-right">Submit</button></p>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="prop">
            	<img src="http://lorempixel.com/500/300/city/" alt="">
                <h4>Cozy room in Chelsea</h4>
                <div class="ratings">
	                <p style="display:inline-block;">
	                    <span class="glyphicon glyphicon-star"></span>
	                    <span class="glyphicon glyphicon-star"></span>
	                    <span class="glyphicon glyphicon-star"></span>
	                    <span class="glyphicon glyphicon-star"></span>
	                    <span class="glyphicon glyphicon-star"></span>
	                </p>
	            </div>
                <p>50, Central Park S New York</p>
                <p>Check In: Monday, July 25 2016</p>
                <p>Check Out: Tuesday, July 26 2016</p>
                </div>
            </div>
	</div>
</div>
