<div class="row">
	<div class="col-sm-3">
		<ul class="nav">
			<li><a href="#">Standbyapps</a></li>
			<li ng-if="isConversationView"  ng-class="{'active': isConversationView}"><a href="#inbox" ng-click="listMessages()">Conversations</a></li>
			<li ng-if="!isConversationView" ng-class="{'active': isMessageView}"><a href="#inbox" ng-click="getMessages()">Messages</a></li>
			<li ng-if="!isConversationView" ng-class="{'active': isClaimView}"><a href="#inbox" ng-click="getClaims()">Claims</a></li>
		</ul>
	</div>
	<div class="col-sm-9">
		<div class="row" ng-class="$last ? 'lastRow' : ''" style="border-bottom:1px solid #efefef;margin-bottom:1em;" ng-repeat="eachMessage in messages">
			<div class="col-sm-2  col-xs-3">
				<img class="img-circle" src="{{eachMessage.traveler.user.image_url}}" title="{{eachMessage.traveler.user.first_name}}"/>
				<p class="hidden-xs">{{eachMessage.traveler.user.first_name}}</p>
			</div>
			<div class="col-sm-10 col-xs-9">
				<p class="visible-xs hidden-sm">{{eachMessage.traveler.user.first_name}}</p>
				<p ng-if="isMessages || isClaims">{{eachMessage.message}}</p>
				<p ng-if="isConversations">{{eachMessage.last_message.message}}</p>
				<p>
					<span class="muted">17 May 2015</span>
					<span class="pull-right label" ng-if="isClaims" ng-class="{'label-success' : eachMessage.message_type == 'accepted', 'label-warning' : eachMessage.message_type == 'inprocess', 'label-danger' : eachMessage.message_type == 'declined'}">{{eachMessage.message_type}}</span>
				</p>
			</div>
		</div>
	</div>
</div>