/* ------------------------------------------------------------------
Mobile Nav
------------------------------------------------------------------- */
section#account-nav{
    width:100%;
    background-color: #6a6d72;
}

section#account-nav .left-col{
    width: 50%;
    display: inline-block;
    float: left;
    background-color: #8c9197;
}

section#account-nav .left-col p{
    margin-bottom: 12px;
    padding-top: 4em;
    color:white;
    font-size: 16px;
    display: inline-block;
}
section#account-nav .left-col span img{
    margin-left: -15px;
    margin-right: 15px;
}

/* ------------------------------------------------------------------
Desktop Nav
------------------------------------------------------------------- */
section#account-nav .desktopNav{
    margin-top:65px;
    background-color: #6a6d72;
}
section#account-nav .desktopNav .navbar-nav li > a{
    color:white;
}

/* ------------------------------------------------------------------
Body Content
------------------------------------------------------------------- */
body{
    font-size: 16px;
}
section#account-property p{
    /*font-size: 16px;*/
    /*margin: 5px;*/
}
section#account-property .list-property{
     border: 2px solid #47c3c5;
     margin: 10px 5px;
    text-align: center;
}
section#account-property .list-property .list-property-icon{
    padding:40px 103px 25px 103px;
}
section#account-property .list-property .list-property-icon p{
    color:#47c3c5;
    font-size: 18px;
    margin: 15px 0px 0px 0px;
}
section#account-property .list-property .list-property-text{
    margin: 0px;
    line-height:16px;
    background-color: #47c3c5;
    color: white;
    padding:12px 0px;
    cursor: pointer;
}

section#account-property .existing-property{
    overflow: hidden;
}
section#account-property .existing-property .list{
    border-bottom: 1px solid gray;
    padding: 40px 0px;
}
section#account-property .existing-property .list:last-child{
    border-bottom: none;
}
section#account-property .existing-property .property-list-wrapper img{
    display: inline-block;
    max-width: 250px;
    float: left;
}
section#account-property .existing-property .property-list-wrapper .prop-select{
    display: inline-block;
    max-width: 250px;
    float: left;
}
section#account-property .existing-property .prop-details{
    margin: 0px 15px 15px 50px;
    display: inline-block;
}
section#account-property .existing-property .prop-details .room-heading{
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
    margin:5px;
}
section#account-property .existing-property .prop-details span.stars, section#account-property .existing-property .prop-details span.stars span {
    margin:3px 5px 15px;
    display: block;
    background: url(../images/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}
section#account-property .existing-property .prop-details .manage-prop{
    color:#47c3c5;
    margin-top:20px;
}
section#account-property .existing-property .prop-details .manage-prop i{
    margin-right:5px;
}

@media screen and (min-width: 1004px){
    section#account-property .list-property{
        padding:0;
        margin-top:40px;
    }
    section#account-property .list-property .list-property-icon{
        padding:20px;
    }
}

/*
add new property page
*/
.prop-wrapper{
    padding:20px;
}
.prop-wrapper .half-width-form-control {
    display: inline-block;
    width: 49%;
    /*width: calc(50% - 2px);*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.prop-wrapper .input-group-btn:last-child>.btn{
    height:33px;
}
.prop-wrapper .frm {
    float: left;
    width: 100%;
}
.input-group-btn select {
    border-color: #ccc;
margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#new-property-form .frm .option-input{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 5.33333px;
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  margin-right: 0.5rem;
  z-index: 1000;
}

#new-property-form .frm .option-input:hover { background: #9faab7; }

#new-property-form .frm .option-input:checked { background: #60f0aa; }

#new-property-form .frm .option-input:checked::before {
  width: 20px;
  height: 20px;
  position: absolute;
  content: '\2714';
  display: inline-block;
  font-size: 10.66667px;
  text-align: center;
  line-height: 20px;
}

#new-property-form .frm .option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #60f0aa;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

#new-property-form .frm .option-input.radio { border-radius: 50%; }

#new-property-form .frm .option-input.radio::after { border-radius: 50%; }

#new-property-form .frm .amenity-icon{
    display: inline-block;
    width: 20px;
    margin: 10px 20px;
}
#new-property-form #sf4.frm h4{
    margin: 30px 0px;
}
#new-property-form #sf4.frm label{
    font-size: 12px;
}
.property-wrapper .list-existing{
    display: none;
}
.property-wrapper .add-new{
    display: block;
}

.property-wrapper .list-group-item{
    border:none;
    margin:10px 0px;
}
.property-wrapper .list-group-item span.active{
    background-color: #47C3C6;
}
.property-wrapper .list-group-item > span{
        border-radius: 50%;
    padding: 7px 15px;
    margin: 0px 15px;
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    font-weight: 700;
    background-color: #c1c8d0;
}
#new-property-form .frm button.next{
    padding: 12px 60px;
    font-size: 13px;
    background-color: #47c3c6;
    border: none;
    margin-top:60px;
}
#new-property-form .frm button.btn-img {
    color: #47c3c6;
    background-color: #fff;
    background-image: url("../../assets/images/login-signup/icon/1x/add_photo.png");

}

/*Desktop Styles*/
@media screen and (min-width: 1004px){
    #new-property-form .frm .form-group.inline-desk {
        margin-bottom: 15px;
        display: inline-block;
        width: 47%;
        margin: 15px 4px;
    }
}

/*
Reservation page
*/
.reservation-wrapper .thumbnail{
    border:none;
    margin:15px;
    padding:0px;
}
.reservation-wrapper .thumbnail .caption .inline{
    display: inline-block;
    margin-right: 10px;
}
.reservation-wrapper .thumbnail .caption p{
    margin:0 0 10px;
}
.reservation-wrapper .thumbnail .calendar-widget-wrapper .calendar-widget{
    display: inline-block;
    text-align: center;
}
.reservation-wrapper .thumbnail p{
    font-size: 14px;
}
.reservation-wrapper .thumbnail .calendar-widget-wrapper p{
    margin: 0;
    
}
.reservation-wrapper .thumbnail .calendar-widget-wrapper .check-in{
    font-size: 12px;
}
.reservation-wrapper .thumbnail .calendar-widget-wrapper .time{
    font-size: 14px;
}
.reservation-wrapper .thumbnail .calendar-widget-wrapper .date{
    font-size: 24px;
    font-weight: 700;
}
.reservation-wrapper .thumbnail .private{
    padding: 5px 10px;
    background-color: gray;
    font-size: 12px;
    color: #47c3c6;
    font-weight: 700;

}
.reservation-wrapper .thumbnail .calendar-widget-wrapper{
    margin: 10px 0px 20px 0px;
}
.reservation-wrapper .thumbnail .calendar-widget-wrapper .calendar-widget:first-child{
        border-right: 1px solid gray;
        margin-right: 20px;
        padding-right: 20px;
}
.reservation-wrapper .thumbnail{
    margin-top: 10px;
    border-bottom: 1px solid gray;
}
.reservation-wrapper .thumbnail:last-child{
    border-bottom: none;
}
.reservation-wrapper .thumbnail .guest a{
    display: block;
    margin: 5px 0px;
    color: #47c3c6;
    font-size: 13px;
}
.reservation-wrapper .thumbnail .guest{
    display: inline-block;
    width: 49%;
}
.reservation-wrapper .thumbnail .guest a i{
    margin-left: 8px;
}
.reservation-wrapper .thumbnail .guest.previous.inline{
    display: inline-block;
}
.reservation-wrapper .thumbnail .visible-xs-inline{
    display: inline-block !important; 
}


/*Desktop Styles*/
@media screen and (min-width: 1004px){
   .reservation-wrapper .thumbnail .visible-xs-inline{
        display: none !important;
    }
}